.starters-img{
    width: 300px;
    height: auto;
    object-fit: cover;
}
.mealButton{
    background-color: #162E25;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
}

.meal-container{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}