.Mealcards-container{
    position: relative;
}
.MealLine{
    position: relative;
}
.Mealcards-container {
    width: 50%;
    margin: auto;
}

.mealcards {
    display: flex;
    justify-content: space-between;
}

