.CartTableHead{
    text-align: center;
    border : 1px solid black;
    text-decoration: underline;
    font-size: 1.7rem; 
}
.CartTable{
    width: 80%;
    margin: 0 auto;
}
.CartList{
    font-family:'harrypotter';
    font-size: 20px;
}
@media screen and (max-width: 426px) {
    .CartImgCell{
        display: none;
    }

    .CartTableHead{
        font-size: 0.7rem;
    }
}