.MoneyIcon{
    color : #70061E;
}
.CartTitle{
    font-family:'harrypotter';
    font-size: 40px;
    color : #162E25;
    text-align:center;
    margin-top: 30px;
}
.LogoDiv {
    display:flex;
    justify-content:space-between;
}

.CartValidationBtn{
    padding: 5px;
    background-color: #162E25;
    color: #e6cc7c;
    border :1px black solid;
    cursor : pointer;
    margin : 10px auto;
    width: 120px;
    text-align: center;
}
.CartCheckOut {
    font-family:'harrypotter';
    font-size: 20px;
}
.CartUnvalidBtn{
    padding: 5px;
    background-color: lightgray;
    border :1px darkgray;
    cursor : not-allowed;
    margin : 10px auto;
    width: 120px;
    text-align: center;
    color : darkgray
}

@media screen and (max-width: 426px) {
    .CartCheckOut{
        font-size: 1rem;
    }
    
}
