.MoneyIcon{
    color : red;
}

.CartTitle{
    color : red;
    text-align: center;
}

.CartValidationBtn{
    padding: 5px;
    background-color: red;
    border :1px black solid;
    cursor : pointer;
    margin : 10px auto;
    width: 120px;
    text-align: center;
}

@media screen and (max-width: 426px) {
    .CartCheckOut{
        font-size: 1rem;
    }
}