@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.AnimationQuote{
  overflow: visible;
  font-family: 'harrypotter';
  font: 5vw/40vh ;
  font-size: 25px;
  
  text-align: center;
  color: transparent;
  }
  
  .AnimationQuote span {
    display: inline-block;
    text-shadow: 0 0 0 rgb(0, 0, 0);
    animation: smoky 5s reverse;
  }
  
  span:nth-child(even){
    animation-name: smoky-mirror;
  }

  @keyframes smoky {
   100% {
      text-shadow: 0 0 40px rgb(0, 0, 0);
    }
    to {
      transform:
        translate3d(15rem,-8rem,0)
        rotate(-40deg)
        skewX(70deg)
        scale(1.5);
      text-shadow: 0 0 20px rgb(0, 0, 0);
      opacity: 0;
    }
  }

  @keyframes smoky-mirror {
    100% {
      text-shadow: 0 0 40px rgb(0, 0, 0); }
    to {
      transform:
        translate3d(18rem,-8rem,0)
        rotate(-40deg) 
        skewX(-70deg)
        scale(2);
       text-shadow: 0 0 20px rgb(0, 0, 0);
      opacity: 0;
    }
  } 