.CardIcon {
    text-align: center;
    margin-right: 20px;
}

.CardIcon img {
    width: 100PX;
}

.CardIcon p {
    font-size: 25px;

}

@media screen and (max-width: 426px) {
    .CardIcon img {
        width: 50PX;
        }
}

