
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.MenuFilters {
    height: 12%; 
}

.logo-title-cart {
    display: flex;
}


.titleHpeat {
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    margin-left: 35%;
    position:absolute;
    
}

.animation-quote {
    display: flex;
    align-items: flex-end;
    margin-left: 25%;    
}



.cart {
    text-decoration: none;
    color: black;
}

.logo-cart {
    display: flex;
    margin-left: auto;
    width: 20%;
}



.logo-menu {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

@media screen and (max-width: 426px) {
    .logo-title-cart h1{
        display: none;
    }

    .logo-hpeat {
        margin-left: 40%;
    }
    
    .logo-menu {
        position: fixed;
        bottom: 0;
        margin-left: 35px;
        padding: 5px;
        border: solid gray;
        background-color: rgb(221, 218, 218);
        border-radius: 15px;
        box-shadow: inset -1px 3px 8px 5px #ffffff,
                    2px 5px 16px 0px #000000,
                    0px 0px 50px 10px rgba(214,214,214,0.29); ;
        z-index: 1;
    }

    .animation-quote {
        display: none;
    }
}