.CartCell
{
    padding: 3px 15px;
    text-align: center;
    vertical-align: baseline;
    font-size: 1.3rem;
}

.MoneyIcon{
    padding-left: 2px;
}

.CartListBtn
{
    border-radius: 20px;
    height : 40px;
    width: 40px;
    font-size: large;
    text-align: center;

}

.CartListBenMin{
    background-color: red;
    margin-right: 5px;
}

.CartListBeAdd{
    background-color: green;
    margin-left: 5px;
}

.CartImageItem
{
    border : 1px solid black;
}

@media screen and (max-width: 426px) {
    .CartImgCell{
        display: none;
    }

    .CartCell
    {
        font-size: 0.7rem;
    }

    .CartListBtn
    {
        border-radius: 7px;
        height : 14px;
        width: 14px;
        font-size: small;
    }

    .CartListBenMin{
        margin-right: 3px;
    }
    
    .CartListBeAdd{
        margin-left: 3px;
    }
    
}