.CartCell{
    width: auto;
    padding: 3px 15px;
    text-align: center;
    vertical-align: baseline;
    font-size: 1.3rem;
}
.MoneyIcon{
    padding-left: 2px;
}
.Btn{
    width: 119px;
    margin-left: 30px;
}
.CartListBtn{
    position:static;
    border-radius: 20px;
    height : 25px;
    width: 25px;
    font-size: large;
    text-align: center;
}

.CartListBenMin{
    background-color: #70061E;
    color: #e6cc7c;
    margin-right: 5px;
}

.CartListBeAdd{
    background-color: #162E25;
    color: #e6cc7c;
    margin-left: 5px;
}

.CartImageItem{
    border : 1px solid black;
    width: 100px;
    height: auto;
    border-radius: 5px;
}

@media screen and (max-width: 426px) {
    .CartImgCell{
        display: none;
    }

    .CartCell{
        justify-content: center;
        font-size: 0.7rem;
        width: 420px;
    }

    .CartListBtn{
        position:static;
        border-radius: 7px;
        height : 10px;
        width: 10px;
        font-size: small;
    }

    .CartListBenMin{
        margin-right: 3px;
    }
    
    .CartListBeAdd{
        margin-left: 3px;
    }
    .Btn{
        width: 100px;
    }
}
